<!--Jam page header-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon ios="ios-car" md="md-car"></ion-icon>
            &nbsp;Jam
        </ion-title>
    </ion-navbar>

</ion-header>
<!--End of header-->

<!--Jam page content-->
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--Loading div-->
    <div *ngIf="show">
        <p text-center>
            <ion-spinner name="bubbles"></ion-spinner>
            &nbsp;<strong>Loading!!</strong>
        </p>
    </div>

    <!--Loop jam content-->
    <ion-list inset>
        <ion-item *ngFor="let jm of jam">
            <ion-avatar item-left>
                <img src="{{jm.user.profile_image_url}}">
            </ion-avatar>
            <p class="paragraph-content">
                {{jm.text}}
            </p>
            <ion-card *ngFor="let media of jm.entities.media">
                <img src="{{media.media_url}}" class="card-images">
            </ion-card>
        </ion-item>
    </ion-list>
    <!--End of loop-->

</ion-content>
<!--End of content-->