page-home {
  .home-car {
    font-size: 40px;
  }
  .introduction {
    font-family: "Aerial";
    font-size: 18px;
    font-weight: bold;
    color: darkslategray;
  }
  .home-content {
    background-color:#f7f7f7;
  }
}
