page-home {
  .home-car {
    font-size: 45px;
    color:#000000;
  }
  .home-content {
    background-color:#f7f7f7;
  }
  .header-app{
    font-family: "Aharoni";
    font-size: 18px;
    font-weight: bold;
    color: darkslategray;
  }
  .introduction {
    font-family: "Aharoni";
    font-size: 18px;
    font-weight: bold;
    color: darkslategray;
    height: 8em;
  }
  .proceed-button{
    radius: 10px;
  }
  .image{
    height: 2em;
  }

}
