page-accidents {

  .bubbles
  {
    text-align: center;
  }
 .card-images {
    border-radius: 6px;
    height: auto;
  }
  .paragraph-content {
    white-space: normal;
    text-align: justify;
    text-decoration: none;
    font-size: 12px;
    font-family: Calibri;
    font-weight: bold;
  }
  .toast-message{
    position: relative;
    font-family: "Calibri Light";
    font-size: 10px;
    background-color: darkslategray!important;
  }
}
