<!--Accident page header-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon ios="ios-warning" md="md-warning"></ion-icon>
            &nbsp; Accidents
        </ion-title>
    </ion-navbar>

</ion-header>
<!--End of Header-->

<!--Accident content-->
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="show">
         <p textcenter><ion-spinner name="bubbles"></ion-spinner> Loading</p>   
    </div>

    <!--Looping the accidents posts-->
    <div class="list">
        <ion-item *ngFor="let accident of accidents">
            <ion-avatar item-left>
                <img src="{{accident.user.profile_image_url}}">
            </ion-avatar>
            <p class="paragraph-content">
                {{accident.text}}
            </p>
            <ion-card *ngFor="let media of accident.entities.media">
                <img src="{{media.media_url}}" class="card-images">
            </ion-card>
        </ion-item>
    </div>
    <!--End of loop-->

</ion-content>
<!--End of content-->

