page-accidents {

  .bubbles
  {
    text-align: center;
  }
 .card-images {
    border-radius: 6px;
    height: auto;
  }
  .paragraph-content {
    white-space: normal;
    text-align: justify;
    color: black;
    font-size: 12px;
    font-family: Calibri;
    font-weight: bold;
  }

}
