<!--Accident page header-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center="">
            <ion-icon ios="ios-warning" md="md-warning"></ion-icon>
            &nbsp; Accidents
        </ion-title>

        <button ion-button menuToggle right (click)="openModal({charNum: 0})">
            <ion-icon name="md-help"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>
<!--End of Header-->

<!--Accident content-->
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="show">
        <p text-center>
            <ion-spinner name="bubbles"></ion-spinner>
            &nbsp;<strong>Loading...</strong>
        </p>
    </div>

    <!--Looping the accidents posts-->
    <div class="list">
        <ion-item *ngFor="let accident of accidents">
            <ion-avatar item-left>
                <img src="{{accident.user.profile_image_url}}">
            </ion-avatar>
            <a class="paragraph-content" href="https://twitter.com/Ma3Route">
                {{accident.text}}
            </a>
            <ion-card *ngFor="let media of accident.entities.media">
                <img src="{{media.media_url}}" class="card-images">
            </ion-card>
        </ion-item>
    </div>
    <!--End of loop-->

</ion-content>
<!--End of content-->

