<!--Clear page header-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon ios="ios-speedometer-outline" md="md-speedometer-outline" class="speedometer-clear"></ion-icon>
            &nbsp;Clear
        </ion-title>
    </ion-navbar>

</ion-header>
<!--End of Header-->

<!--Clear page content-->
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--Loading div-->
    <div *ngIf="show">
        <p text-center>
            <ion-spinner name="bubbles"></ion-spinner>
            &nbsp;<strong>Loading..</strong>
        </p>
    </div>

    <!--Looping the clear page content-->
    <ion-list>
        <ion-item *ngFor="let crls of clear" class="clear-text">
            <ion-avatar item-left>
                <img src="{{crls.user.profile_image_url}}">
            </ion-avatar>
            <a class="paragraph-content" href="https://twitter.com/Ma3Route">
                {{crls.text}}
            </a>
            <ion-card *ngFor="let media of crls.entities.media">
                <img src="{{media.media_url}}" class="card-images">
            </ion-card>
        </ion-item>

    </ion-list>
    <!--End of loop-->

</ion-content>
<!--End of clear page content-->
