page-clear {

  .card-images {
    border-radius: 12px;
    height: auto;
  }
  .clear-text {
    white-space: normal;
  }
  .paragraph-content {
    white-space: normal;
    text-align: justify;
    color: black;
    font-size: 12px;
    font-family: Calibri;
    font-weight: bold;
  }
  .speedometer-clear {
    font-size: 22px;
  }
  .toast-message{
    position: relative;
    font-family: "Calibri Light";
    font-size: 10px;
  }

}
